.nav {
  font-size: 1.2rem;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 1rem;
}

.nav__item:last-child {
  margin-left: 3rem;
}

.nav__item a {
  color: var(--text-light);
  text-decoration: none;
}

@media(max-width: 760px) {
  .nav {
    margin-top: 0.8rem;
    flex: 1 0 auto;
  }

  .nav__item:last-child {
    margin-left: auto;
  }
}